<div class="container">
  <div>


  <h1 style="text-align: center"><u>New Event</u></h1>
    <%= form_for [@event] do |f| %>
    <h3>
      <%= f.label :name, "Event Name:" %>
    </h3>
      <%= f.text_field :name, class: "form-control"%><br>
    <h3>
      <%= f.label :venue_id, "Location:" %>
    </h3>
      <%= f.select :venue_id, @venues.map{|u| [u.name]}%><br><br />


    <div class="row">
      <div class="col-xs-6">
        <h3><%= f.label :starts_at, "Start Date:" %></h3>
        <%= f.date_field :starts_at %>
      </div>
      <div class="col-xs-6">
        <h3><%= f.label :ends_at, "End Date:" %></h3>
        <%= f.date_field :ends_at %><br><br />
      </div>
    </div>
    <h3>
      <%= f.label :category, "Event Category:" %>
    </h3>
      <%= f.select :category, @category.map{|u| [u.name]} %><br /><br />
    <h3>
      <%= f.label :extended_html_description, "Additional Information:" %>
    </h3>
      <%= f.text_area :extended_html_description, class: "form-control"%><br>
      <%= f.submit :Submit, class: "btn btn-lg btn-success btn-block" %>
    <% end %>
  </div>
</div>
