<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details">
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %>
      </div>
    </div>
  </div>
  <%= form_for @order do |f| %>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <table class="table">
         <thead>
          <tr>
            <th>Ticket Type</th>
            <th>Unit Price</th>
            <th>Quantity</th>
          <tr>
        </thead>
        <tbody>
        <% @order.tickets.each do |type| %>
          <tr>
            <td>
              <div class="alert alert-info">
                <%= type.name %> (<%= pluralize TicketType.find_by(id: type.ticket_type_id).remaining_quantity, 'ticket' %> available)
              </div>
            </td>
            <td>
              <%= number_to_currency(TicketType.find_by(id: type.ticket_type_id).price, unit: '$', precision: 0) %>
            </td>
            <td>
              <%= fields_for :ticket, @order.tickets do |t| %>
                <%= t.hidden_field :ticket_type_id, value: type.ticket_type_id %>
                <%= t.number_field :quantity %>
              <% end %>
            </td>
          </tr>
        <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= f.submit "Buy", class: "btn btn-success btn-lg btn-block" %>
  <% end %>

  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <!-- <button class="btn btn-success btn-lg btn-block">Buy</button> Want this button to work! -->
    </div>
  <div>
</div>
<% console %>
