<!DOCTYPE html>
<html>
<head>
  <title>Rails Book Ticket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTEGK4hYeA4TnyTajY4DTWhdaJxNb2mDb8VFde0LXNRGSqQSf8m">
</head>
  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="<%= root_path %>">
        Rails Book Ticket
      </a>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <% if current_user.try(:admin?) %>
            <li class="dropdown">
              <a class="nav-item dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Admin
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <%= link_to "Users", users_path %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to "Venues", venues_path %>
                </li>
              </li>
            </div>
            <% end %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <% unless user_signed_in? %>
              <li>
                <li class="nav-item">
                  <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link'  %>
                </li>
              </li>
            <% else %>
            <li>
              <li class="nav-item">
                <%= link_to "New Event", new_event_path, class: 'nav-link', method: :get %>
              </li>
              <li class="nav-item">
                <%= link_to "Edit Events", events_path, class: 'nav-link', method: :get %>
              </li>
              <li class="nav-item">
                <%= link_to "Log Out", destroy_user_session_path, class: 'nav-link', method: :delete %>
              </li>
            </li>
            <% end %>

          </ul>
      </div>
    </nav>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
